/* Imports */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* document */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
      


/* Navbar */
nav {
    background-color:#3098D9;
}

nav div.nav-wrapper {
  margin: auto;
  width: 50%;
}

nav ul.left {
  background-color: #3098D9;
}

nav ul.right {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #3098D9;
}

nav ul.right a {
  background-color: transparent;
  border: none; 
  text-decoration: none;
  box-shadow: none;
  text-shadow: none;
  padding-bottom: 40px;
}

nav ul.right a:hover {
  background-color: transparent;
  border: none; 

}



/* Main */
  main div.row div#card-weather {
    font-family: 'Roboto', sans-serif;
    width: 50%;
    border: none;
    box-shadow: none;
    text-decoration: none;
  }

  main div.row div#mainCard {
    visibility: hidden;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
  }

  main span {
    align-content: center;
  }

  #city {
    font-size: 100%;
  }
/* Footer */
footer.page-footer {
  background-color: #3098D9;
}


footer.page-footer div.footer-copyright {
  background-color: #3098D9;  
}

footer.page-footer div.container a, p{
    color: #ffffff;
}

footer.page-footer div.container a:hover{
    color: #000000;
}